# Node modules
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Serverless
.serverless/
.webpack/

# Ignore dotenv environment variables files
.env
.env.local
.env.*.local

# AWS credentials and config files
.aws/

# IDE and editor files
.idea/
.vscode/
*.swp

# Log files
*.log
logs/
*.tsbuildinfo

# Ignore Mac system files
.DS_Store

# Ignore any local debug files
debug/

# Temporary files
tmp/
temp/

# Ignore coverage output
coverage/
